<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header::header"></div>

    <div class="row">
        <div th:replace="fragments/sidebar::sidebar"></div>
		
        <!-- Main Content -->
        <div class="col-md-10 content">
           <table class="table table-hover">
			    <thead>
			        <tr>
			            <th>ID</th>
			            <th>Topic Name</th>
			            <th>Description</th>
			            <th>Supervisor ID</th>
			            <th>Topic Type</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="topic : ${listTopic}">
			            <td th:text="${topic.id}"></td>
			            <td th:text="${topic.topicName}"></td>
			            <td th:text="${topic.topicDescription}"></td>
			            <td th:text="${topic.supervisorId}"></td>
			            <td th:text="${topic.topicType}"></td>
			            <td>
			            	<a th:href="@{/topic/view/{id}(id=${topic.id})}" >[View]</a>
			                <a href="#" >[Edit]</a>
			                <a th:href="@{/topic/delete/{id}(id=${topic.id})}">[Delete]</a>
			            </td>
			        </tr>
			    </tbody>
			</table>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>
