<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="sidebar">
    <div class="p-3 text-center">

    </div>
    <nav class="nav flex-column">
        <a class="nav-link" href="#">
            <i class="fas fa-home me-2"></i><span>Dashboard</span>
        </a>
        <a class="nav-link" href="/admin/recipes">
            <i class="fas fa-archive me-2"></i><span>Quản lý công thức</span>
        </a>

        <a class="nav-link" href="/admin/ingredients">
            <i class="fas fa-book me-2"></i><span>Quản lý nguyên liệu</span>
        </a>

        <a class="nav-link" href="/admin/categories">
            <i class="fas fa-list me-2"></i><span>Quản lý danh mục</span>
        </a>

        <a class="nav-link" href="/admin/ratings/statistics">
            <i class="fas fa-bell me-2"></i><span>Thống kê đánh giá</span>
        </a>

        <button type="submit" class="nav-link">
            <i class="fas fa-sign-out-alt me-2"></i><span>Đăng xuất</span>
        </button>

    </nav>
</div>