<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<style>
		.container {
		    display: flex;
		    max-width: 1200px; /* Điều chỉnh độ rộng tối đa */
		    margin: 0 auto; /* Căn giữa nội dung */
		}
		
		.sidebar {
		    width: 250px; /* Điều chỉnh chiều rộng của sidebar */
		    background-color: #2c3e50;
		    color: white;
		    padding: 20px;
		}
		
		.main-content {
		    flex-grow: 1;
		    padding: 20px;
		    background-color: #fff;
		    max-width: 90%;
    		margin-top: 38px;
		}
		
	</style>
    <!-- Header -->
    <header th:replace="fragments/header::head_layout"></header>

   <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar" th:replace="fragments/sidebar::sidebar_layout"></aside>

    <!-- Nội dung chính -->
    <div class="main-content">
        <div class="card shadow-lg p-4">
            <h1 class="text-center text-primary">Thêm Mới Sinh Viên</h1>
            <form action="student-list" method="GET">
                <div class="mb-3">
                    <label for="mssv" class="form-label">MSSV:</label>
                    <input type="text" class="form-control" id="mssv" name="MSSV" required>
                </div>

                <div class="mb-3">
                    <label for="hoTen" class="form-label">Họ Tên:</label>
                    <input type="text" class="form-control" id="hoTen" name="hoTen" required>
                </div>

                <div class="mb-3">
                    <label for="diemTB" class="form-label">Điểm TB:</label>
                    <input type="number" step="0.1" class="form-control" id="diemTB" name="diemTB" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4">Thêm Sinh Viên</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <footer th:replace="fragments/footer::footer_layout">
    	
    </footer>
</body>
</html>
