<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <!-- Header -->
    <header th:replace="fragments/header::head_layout"></header>

    <div class="container wight-50">
        <!-- Sidebar -->
        <aside class="sidebar" th:replace="fragments/sidebar::sidebar_layout"></aside>

        <!-- Nội dung chính -->
       
            <h1>Chào mừng đến với trang của bạn!</h1>
            <p>Đây là phần nội dung chính. u muốn dùng header này trong một dự án lớn, có thể tách riêng thành file header.html và dùng include trong các framework như PHP, ASP.NET.
            </p>
      
    </div>
    <footer th:replace="fragments/footer::footer_layout">
    	
    </footer>
</body>
</html>
