<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
</head>
<body>
	<style>
		.container {
		    display: flex;
		    max-width: 1200px; /* Điều chỉnh độ rộng tối đa */
		    margin: 0 auto; /* Căn giữa nội dung */
		}
		
		.sidebar {
		    width: 250px; /* Điều chỉnh chiều rộng của sidebar */
		    background-color: #2c3e50;
		    color: white;
		    padding: 20px;
		}
		
		.main-content {
		    flex-grow: 1;
		    padding: 20px;
		    background-color: #fff;
		    max-width: 90%;
    		margin-top: 38px;
		}
		
	</style>
    <!-- Header -->
    <header th:replace="fragments/header::head_layout"></header>

   <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar" th:replace="fragments/sidebar::sidebar_layout"></aside>

    <!-- Nội dung chính -->
    <div class="main-content">
        <h1>Danh Sách Sinh Viên!</h1>
       <div th:each="sv : ${listSV}">
        <p>MSSV: <span th:text="${sv.MSSV}"></span></p>
        <p>Họ Tên: <span th:text="${sv.hoTen}"></span></p>
        <p>Điểm TB: <span th:text="${sv.diemTB}"></span></p>
        <hr>
    </div>
    </div>
</div>

    <footer th:replace="fragments/footer::footer_layout">
    	
    </footer>
</body>
</html>
